{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block content %}

<div class="container wrapper flex-grow-1">

	<h1 class="my-4">

		{% translate "Statuses" %}

	</h1>
<a class="btn btn-primary mb-3" href="{% url 'status_create' %}">{% translate "Create status" %}</a>
      
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Name" %}</th>
      <th>{% translate "Date created" %}</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
	  {% for status in object_list %}
      <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at|date:"d.m.Y" }} {{ status.created_at|time:"H:i" }}</td>
        <td>
          <a href="{% url 'status_update' status.pk %}">{% translate "Change" %}</a>
          <br>
           <a href="{% url 'status_delete' status.pk %}">{% translate "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}