{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block content %}

<div class="container wrapper flex-grow-1">

	<h1 class="my-4">

		{% translate "Labels" %}

	</h1>
<a class="btn btn-primary mb-3" href="{% url 'label_create' %}">{% translate "Create label" %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Name" %}</th>
      <th>{% translate "Date created" %}</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
	  {% for label in labels %}
      <tr>
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
        <td>{{ label.created_at|date:"d.m.Y" }} {{ label.created_at|time:"H:i" }}</td>
        <td>
          <a href="{% url 'label_update' label.pk %}">{% translate "Change" %}</a>
          <br>
           <a href="{% url 'label_delete' label.pk %}">{% translate "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock content %}