{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}


{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4"></h1>
  <h1 class="my-4"></h1>
  <div class="card">
    <div class="card-body p-5 bg-light">
      <div class="display-4">Greetings from Hexlet!</div>
        <p class="lead">Practical programming courses</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">Find out more</a>
    </div>
  </div>
</div>
{% endblock content %}
